@page "/"


@layout AuthLayout
@inject SweetAlertService swal
@inject NavigationManager navigationManager
@inject IRepositorio repositorio
@inject ILoginService loginService
@inject IJSRuntime js;

@using Login.Client.Repositorios
@using Login.Client.Services;
@using Login.Client.Layout;


<h3>Login</h3>

@code {

}
